{% extends "layout.html" %}
{% block content %}

<div class="profile-step">
    <p>Authenticate with Google OAuth2</p>
    <div class="profile-step-link-container">
        <a href="#">Step 1</a>
    </div>
</div>
<div class="profile-step">
    <p>Retrieve your YouTube data from the API</p>
    <div class="profile-step-link-container">
        <a href="#">Step 2</a>
    </div>
</div>
<div class="profile-step">
    <p>Generate your profile</p>
    <div class="profile-step-link-container">
        <a href="#">Step 3</a>
    </div>
</div>

{% endblock content %}