@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

body {
    background-color: #1e1e2f;
    color: #ced4da;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 0px 20px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-content-left,
.header-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.header-app-name {
    color: #ced4da;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
}

.header-dropdown-btn {
    background-color: #1e1e2f;
    color: #ced4da;
    padding: 10px;
    width: 130px;
    border-style: none;
    margin-bottom: 0px;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.header-dropdown:hover .header-dropdown-btn {
    background-color: #963e3e;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #28293e;
    width: 130px;
    z-index: 1;
}

.header-dropdown-content a {
    text-align: center;
    text-decoration: none;
    color: #ced4da;
    display: block;
}

.header-dropdown-content a:hover {
    background-color: #28293e;
    color: #488af4;
}


/* Homepage */

.profile-step {
    background-color: #28293e;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

.profile-step a {
    color: #E13E42;
    font-weight: 500;
    text-decoration: none;
}

.profile-step div:hover {
    background-color: #E13E42;
    color: #ced4da;
}

.profile-step div:hover a {
    color: #ced4da;
}

.profile-step-link-container {
    width: 250px;
    border-style: solid;
    border-color: #E13E42;
    margin: auto;
}

/* Login and registration forms */

.form-group {
    margin-bottom: 16px;
}

.registration-form-title,
.login-form-title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.registration-form,
.login-form {
    width: 350px;
    margin: auto;
}

.register-btn,
.login-btn {
    text-align: center;
}

.register-page-login-link-container,
.login-page-register-link-container {
    text-align: center;
    margin-top: 30px;
}

.register-page-login-link-container a,
.login-page-register-link-container a {
    font-size: 13px;
    color: #ced4da;
}

.register-page-login-link-container:hover a,
.login-page-register-link-container:hover a {
    color: #E13E42;
}

/* Profile styling */
.profile-tab-container,
.compare-tab-container {
    background-color: #28293e;
    color: #ced4da;
    padding: 15px;
}

.profile-tab-btn,
.compare-tab-btn {
    background-color: #c65555;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #28293e;
    font-weight: 300;
    padding: 0px 18px;
}

.profile-tab-btn:hover,
.compare-tab-btn:hover {
    color: #ced4da;
}

.profile-tab-btn.active,
.compare-tab-btn.active {
    background-color: #28293e;
    color: #ced4da;
    font-weight: 500;
}

#t5cats {
    text-align: center;
}

.profile-compare-container,
.compare-profile-container {
    display: flex;
    justify-content: right;
}

.profile-compare-btn,
.compare-profile-btn {
    background-color: #c65555;
    border-radius: 10px;
    color: #28293e;
    padding: 8px;
    text-decoration: none;
}

.profile-compare-btn:hover,
.compare-profile-btn:hover {
    color: #ced4da;    
}

.link-icon {
    height: 20px;
    width: auto;
}

.go-to-channel-btn {
    background-color: #c65555;
    border-radius: 10px;
    color: #28293e;
    padding: 2px 8px;
    text-decoration: none;    
}

/* Compare page styling */
h4 {
    text-align: center;
}