@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

body {
    background-color: #2f3c60;
    font-family: "Poppins", sans-serif;
}

header {
    justify-content: space-between;
}

header img {
    height: 80px;
    width: auto;
}

p {
    color: white;
}